<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c4786b">  <td>21/03/09 11:18:47</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddingCart.CartTest()[pri:0, instance:com.anz.SampleTestcases.AddingCart@18e36d14]">CartTest</td> 
  <td>main@1360215046</td>   <td></td> </tr>
<tr bgcolor="c4786b">  <td>21/03/09 11:18:32</td>   <td>-14407</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AddingCart.initWebDriver()[pri:0, instance:com.anz.SampleTestcases.AddingCart@18e36d14]">&gt;&gt;initWebDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1360215046</td>   <td></td> </tr>
</table>
