<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="de6b9c">  <td>21/03/09 12:38:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;register.initWebDriver()[pri:0, instance:com.anz.SampleTestcases.register@5609159b]">&gt;&gt;initWebDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2011997442</td>   <td></td> </tr>
<tr bgcolor="de6b9c">  <td>21/03/09 12:38:22</td>   <td>2276</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="register.registratioTest()[pri:1, instance:com.anz.SampleTestcases.register@5609159b]">registratioTest</td> 
  <td>main@2011997442</td>   <td></td> </tr>
<tr bgcolor="de6b9c">  <td>21/03/09 12:38:43</td>   <td>23283</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="register.usernameCheckTest()[pri:2, instance:com.anz.SampleTestcases.register@5609159b]">usernameCheckTest</td> 
  <td>main@2011997442</td>   <td></td> </tr>
<tr bgcolor="de6b9c">  <td>21/03/09 12:38:43</td>   <td>23389</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;register.logout()[pri:0, instance:com.anz.SampleTestcases.register@5609159b]">&lt;&lt;logout</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2011997442</td>   <td></td> </tr>
<tr bgcolor="a5a992">  <td>21/03/09 12:38:46</td>   <td>27097</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AddingCart.initWebDriver()[pri:0, instance:com.anz.SampleTestcases.AddingCart@157853da]">&gt;&gt;initWebDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2011997442</td>   <td></td> </tr>
<tr bgcolor="a5a992">  <td>21/03/09 12:38:56</td>   <td>36989</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddingCart.loginTest()[pri:1, instance:com.anz.SampleTestcases.AddingCart@157853da]">loginTest</td> 
  <td>main@2011997442</td>   <td></td> </tr>
<tr bgcolor="a5a992">  <td>21/03/09 12:39:03</td>   <td>43881</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddingCart.addingCartTest()[pri:2, instance:com.anz.SampleTestcases.AddingCart@157853da]">addingCartTest</td> 
  <td>main@2011997442</td>   <td></td> </tr>
<tr bgcolor="a5a992">  <td>21/03/09 12:39:17</td>   <td>57417</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddingCart.checkCartDetails()[pri:3, instance:com.anz.SampleTestcases.AddingCart@157853da]">checkCartDetails</td> 
  <td>main@2011997442</td>   <td></td> </tr>
<tr bgcolor="a5a992">  <td>21/03/09 12:39:17</td>   <td>57502</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AddingCart.logout()[pri:0, instance:com.anz.SampleTestcases.AddingCart@157853da]">&lt;&lt;logout</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2011997442</td>   <td></td> </tr>
</table>
